@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Waukegan;
  src: url("Fonts/WaukeganLdo-ax19.ttf");
}
@font-face {
  font-family: WaukeganBold;
  src: url("Fonts/WaukeganLdoExtendedBlack-p7OZ.ttf");
}
body {
  font-family: Waukegan;
}
.Bold{
  font-family: WaukeganBold;
}