@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Eurostile;
  src:local("public\Eurostile.ttf");
}
body {
  
  font-family:'Times New Roman', Times, serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
